/* latin */
@font-face {
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    /*font-display: swap;*/
    src: local('Ovo'), url(/fonts/yYLl0h7WyfzTzI44.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body, button, input, select, textarea {
    font-family: Ovo, Georgia, STZhongsong, "Microsoft YaHei", serif
}

a.tag.article-tag {
    font-size: .9rem;
    text-decoration: none
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 800px;
        width: 800px
    }

    .navbar.is-transparent .navbar-dropdown a.navbar-item:hover {
        color: #3273dc
    }
}

.navbar-main {
    border-bottom: 1px solid #dbdbdb;
    transition: .1s ease-in
}

.navbar-main .navbar-logo {
    font-size: 1.5rem;
    font-weight: 600
}

.navbar-main .navbar-item {
    text-align: center
}

.navbar-main a.navbar-item.is-active {
    color: #3273dc
}

.navbar-main .toc .navbar-dropdown {
    max-height: 500px;
    overflow-y: auto
}

.article + .article {
    padding-top: 2rem;
    border-top: 1px solid #dbdbdb
}

.article .article-meta a, .article .article-title a {
    color: inherit;
    border-bottom: 1px dotted transparent
}

.article .article-meta a:hover, .article .article-title a:hover {
    border-bottom-color: #000
}

.article .article-meta {
    font-size: .9rem;
    text-transform: uppercase
}

@media screen and (max-width: 768px) {
    .article .article-meta {
        margin-top: .75rem
    }

    .article .article-meta .column {
        padding-top: 0;
        padding-bottom: 0
    }
}

.article .article-meta .article-category-link {
    margin: 0 .3rem
}

.article .article-entry {
    margin-bottom: 3rem
}

.article .article-entry h1, .article .article-entry h2, .article .article-entry h3, .article .article-entry h4, .article .article-entry h5, .article .article-entry h6 {
    cursor: pointer;
    position: relative
}

.article .article-entry h1:hover:before, .article .article-entry h2:hover:before, .article .article-entry h3:hover:before, .article .article-entry h4:hover:before, .article .article-entry h5:hover:before, .article .article-entry h6:hover:before {
    content: '#';
    position: absolute;
    right: 100%
}

.article .article-entry a {
    word-break: break-word
}

.article .article-more-link a {
    font-size: .9rem;
    color: #a9a9a9;
    border-bottom: 1px dotted transparent
}

.article .article-more-link a:hover {
    border-bottom-color: #a9a9a9
}

.article .article-nav a {
    color: #a9a9a9;
    position: relative;
    display: inline-block
}

.article .article-nav .article-nav-prev a {
    padding-left: 1rem
}

.article .article-nav .article-nav-prev a:before {
    top: 0;
    left: 0;
    content: '<';
    position: absolute
}

.article .article-nav .article-nav-next {
    text-align: right
}

.article .article-nav .article-nav-next a {
    padding-right: 1rem
}

.article .article-nav .article-nav-next a:after {
    top: 0;
    right: 0;
    content: '>';
    position: absolute
}

@media screen and (max-width: 768px) {
    .article .article-nav .article-nav-next, .article .article-nav .article-nav-prev {
        text-align: center
    }
}

.article .caption {
    display: block;
    color: #a9a9a9;
    font-size: .95rem;
    text-align: center
}

.article a[target="_blank"]:after {
    display: none;
    content: "\f35d";
    font-size: .8rem;
    font-family: "Font Awesome 5 Solid"
}

.article a[target="_blank"] .fa-external-link-alt {
    margin-left: .3rem;
    width: .8rem
}

.article blockquote.colorquote {
    position: relative
}

.article blockquote.colorquote:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: -14.5px;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-size: 16px 16px;
    background-position: 4px 4px;
    background-repeat: no-repeat
}

.article blockquote.colorquote.info {
    border-color: #209cee;
    background-color: #def0fd
}

.article blockquote.colorquote.info:before {
    background-color: #209cee;
    background-image: url(/images/info.svg)
}

.article blockquote.colorquote.success {
    border-color: #23d160;
    background-color: #cbf6da
}

/*.article blockquote.colorquote.success:before {*/
/*    background-color: #23d160;*/
/*    background-image: url(../images/check.svg)*/
/*}*/

/*.article blockquote.colorquote.warning {*/
/*    border-color: #ffdd57;*/
/*    background-color: #fff6d1*/
/*}*/

/*.article blockquote.colorquote.warning:before {*/
/*    background-color: #ffdd57;*/
/*    background-image: url(../images/question.svg)*/
/*}*/

/*.article blockquote.colorquote.danger {*/
/*    border-color: #ff3860;*/
/*    background-color: #ffb3c2*/
/*}*/

/*.article blockquote.colorquote.danger:before {*/
/*    background-color: #ff3860;*/
/*    background-image: url(../images/exclamation.svg)*/
/*}*/

.article blockquote.pullquote {
    float: right;
    max-width: 50%;
    font-size: 1.15rem;
    position: relative
}

@media screen and (max-width: 768px) {
    .article blockquote.pullquote {
        float: none;
        max-width: 100%
    }
}

/*.article blockquote.pullquote:before {*/
/*    content: " ";*/
/*    position: absolute;*/
/*    top: 5px;*/
/*    left: 5px;*/
/*    width: 3rem;*/
/*    height: 3rem;*/
/*    opacity: .1;*/
/*    background: url(../images/quote-left.svg) 0 0/3rem 3rem no-repeat*/
/*}*/

.article blockquote footer cite {
    font-style: normal
}

.article blockquote footer cite:before {
    content: "—";
    padding: 0 .3em
}

.article .gist table tr:hover {
    background: 0 0
}

.article .gist table td {
    border: none
}

.article .gist .file {
    all: initial
}

.sharebox {
    margin-top: 3rem
}

.comments {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid #dbdbdb
}

.comments > .title {
    font-weight: 300
}

.archive:not(:last-child) {
    margin-bottom: 3rem
}

.archive .articles {
    border-left: 1px solid #dbdbdb
}

.archive .article {
    border-top: none;
    margin-left: -1px;
    padding: 1rem 1.5rem;
    border-left: 3px solid transparent
}

.archive .article:hover {
    border-left-color: #000
}

.archive .article time {
    font-size: .9rem;
    color: #a9a9a9
}

.archive .article h6 {
    margin: 0
}

.archive .article h6 a {
    color: inherit;
    border-bottom: 1px dotted transparent
}

.archive .article h6 a:hover {
    border-bottom-color: #a9a9a9
}

.footer {
    font-size: .9rem;
    background: 0 0
}

.footer .content {
    padding-top: 2rem;
    border-top: 1px solid #dbdbdb
}
/*
.searchbox {
    display: none
}

.searchbox.show {
    display: block
}

.searchbox .searchbox-container, .searchbox .searchbox-mask {
    position: fixed
}

.searchbox .searchbox-mask {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, .5)
}

.searchbox .searchbox-selectable {
    cursor: pointer
}

.searchbox .searchbox-input-wrapper {
    position: relative
}

.searchbox .searchbox-input-wrapper .searchbox-input {
    width: 100%;
    border: none;
    outline: 0;
    font-size: 16px;
    box-shadow: none;
    font-weight: 200;
    border-radius: 0;
    background: #fff;
    line-height: 20px;
    box-sizing: border-box;
    padding: 12px 28px 12px 20px;
    border-bottom: 1px solid #e2e2e2
}

.searchbox .searchbox-input-wrapper .searchbox-close {
    top: 50%;
    right: 6px;
    width: 20px;
    height: 20px;
    font-size: 16px;
    margin-top: -11px;
    position: absolute;
    text-align: center;
    display: inline-block
}

.searchbox .searchbox-input-wrapper .searchbox-close:hover {
    color: #3273dc
}

.searchbox .searchbox-result-wrapper {
    left: 0;
    right: 0;
    top: 45px;
    bottom: 0;
    overflow-y: auto;
    position: absolute
}

.searchbox .searchbox-container {
    left: 50%;
    top: 100px;
    width: 540px;
    z-index: 101;
    bottom: 100px;
    margin-left: -270px;
    box-sizing: border-box
}
*/
@media screen and (max-width: 559px), screen and (max-height: 479px) {
    .searchbox .searchbox-container {
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        background: #f7f7f7
    }
}

code, pre {
    font-size: .85rem;
    font-family: Consolas, "Source Code Pro", monospace, "Microsoft YaHei"
}

figure.highlight {
    padding: 0;
    width: 100%;
    margin: 0 0 1.5rem
}

figure.highlight pre, figure.highlight table tr:hover {
    color: inherit;
    background: 0 0
}

figure.highlight table {
    width: auto
}

figure.highlight pre {
    padding: 0;
    overflow: visible
}

figure.highlight pre .line {
    line-height: 1.5rem
}

figure.highlight .gutter, figure.highlight figcaption {
    background: rgba(200, 200, 200, .15)
}

figure.highlight figcaption {
    padding: .3em .75em;
    text-align: left;
    font-style: normal;
    font-size: .8rem
}

figure.highlight figcaption span {
    font-weight: 500;
    font-family: "Source Code Pro", monospace, "Microsoft YaHei"
}

figure.highlight figcaption a {
    float: right;
    color: #9a9a9a
}

figure.highlight .gutter {
    text-align: right
}

figure.highlight .number, figure.highlight .section, figure.highlight .tag, figure.highlight .title {
    display: inherit;
    font: inherit;
    margin: inherit;
    padding: inherit;
    background: inherit;
    height: inherit;
    text-align: inherit;
    vertical-align: inherit;
    min-width: inherit;
    border-radius: inherit
}

.pagination {
    margin: 0 -1em
}

.pagination .pagination-link, .pagination .pagination-next, .pagination .pagination-previous {
    border: 1px solid transparent
}

.pagination .pagination-link:active, .pagination .pagination-next:active, .pagination .pagination-previous:active {
    box-shadow: none
}

.pagination .pagination-link:hover {
    border-color: #000
}

.pagination .pagination-link.is-current {
    background-color: #000
}

.pagination .pagination-next a, .pagination .pagination-previous a {
    position: relative;
    color: inherit
}

.pagination .pagination-previous a {
    padding-left: 1rem
}

.pagination .pagination-previous a:before {
    top: 0;
    left: 0;
    content: '<';
    position: absolute
}

.pagination .pagination-next a {
    padding-right: 1rem
}

.pagination .pagination-next a:after {
    top: 0;
    right: 0;
    content: '>';
    position: absolute
}

.section-heading {
    padding-bottom: 0
}

.section-heading h5 {
    margin-bottom: 0;
    text-transform: uppercase
}

.section-heading h5 > svg {
    margin-right: .5rem
}

.section-heading + .section {
    padding-top: 2rem
}

/*.gallery-item {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    overflow: hidden;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    line-height: 0;*/
/*    max-width: 100%*/
/*}*/

/*.gallery-item:hover .caption {*/
/*    display: initial*/
/*}*/

/*.gallery-item .caption {*/
/*    display: none;*/
/*    position: absolute;*/
/*    opacity: .7;*/
/*    bottom: 0;*/
/*    padding: 5px;*/
/*    background-color: #000;*/
/*    left: 0;*/
/*    right: 0;*/
/*    margin: 0;*/
/*    color: #fff;*/
/*    font-size: 12px;*/
/*    font-weight: 300;*/
/*    font-family: inherit !important;*/
/*    line-height: 1.5*/
/*}*/

.video-container {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 56.25%;
    position: relative
}

.video-container iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute
}

/*.ins-section-container {*/
/*    position: relative;*/
/*    background: #f7f7f7*/
/*}*/

/*.ins-section {*/
/*    font-size: 14px;*/
/*    line-height: 16px*/
/*}*/

/*.ins-section .ins-search-item, .ins-section .ins-section-header {*/
/*    padding: 8px 15px*/
/*}*/

/*.ins-section .ins-section-header {*/
/*    color: #9a9a9a;*/
/*    border-bottom: 1px solid #e2e2e2*/
/*}*/

/*.ins-section .ins-slug {*/
/*    margin-left: 5px;*/
/*    color: #9a9a9a*/
/*}*/

/*.ins-section .ins-slug:before {*/
/*    content: '('*/
/*}*/

/*.ins-section .ins-slug:after {*/
/*    content: ')'*/
/*}*/

/*.ins-section .ins-search-item .ins-search-preview, .ins-section .ins-search-item header {*/
/*    overflow: hidden;*/
/*    white-space: nowrap;*/
/*    text-overflow: ellipsis*/
/*}*/

/*.ins-section .ins-search-item header .ins-title {*/
/*    margin-left: 8px*/
/*}*/

/*.ins-section .ins-search-item .ins-search-preview {*/
/*    height: 15px;*/
/*    font-size: 12px;*/
/*    color: #9a9a9a;*/
/*    margin: 5px 0 0 20px*/
/*}*/

/*.ins-section .ins-search-item.active, .ins-section .ins-search-item:hover {*/
/*    color: #fff;*/
/*    background: #3273dc*/
/*}*/

/*.ins-section .ins-search-item.active .ins-search-preview, .ins-section .ins-search-item.active .ins-slug, .ins-section .ins-search-item:hover .ins-search-preview, .ins-section .ins-search-item:hover .ins-slug {*/
/*    color: #fff*/
/*}*/

svg:not(:root).svg-inline--fa {
    overflow: visible
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em
}



.svg-inline--fa.fa-w-16 {
    width: 1em
}

.content h1,.content h2,.content h3,.content h4,.content h5,.content h6{color:#363636;font-weight:400;line-height:1.125}

div.highlight{
    margin-bottom:1em;
}
div.highlight pre{
    text-align: left;
    padding:.4em 1em;
    overflow-x: auto;
}


/*.highlight {*/
/*    font-weight: 400;*/
/*    max-width: 100%;*/
/*    overflow: hidden;*/
/*    padding: 0;*/
/*}*/
