{{ define "main" }}
    {{ if or .Title .Content }}
        <section class="section section-heading">
            <div class="container">
                <div class="content">
                    <h5>
                        {{ partial "svg/icons.html" .Data.Singular }}
                        {{ with .Title }}{{- . -}}{{ end -}}
                    </h5>
                </div>

            </div>
        </section>
    {{ end }}
    <section class="section">
        <div class="container">
            {{ range .Paginator.Pages }}
                {{ .Render "summary" }}
            {{ end }}
            {{ partial "pagination.html" . }}
        </div>
    </section>
{{end}}
