<h1 class="article-title is-size-3 is-size-4-mobile">
    {{$singlePage:=$.Scratch.Get "single_page"}}
    {{if not $singlePage}}<a href="{{ .Permalink }}">{{.Title}}</a>{{else}}{{ .Title }}{{end}}
</h1>
<div class="article-meta columns is-variable is-1 is-multiline is-mobile is-size-7-mobile">
    {{- if eq .Type "posts"}}
        {{- $dateFormat := ( .Site.Params.settings.dateFormat | default "2006, Jan 02" ) -}}
        <span class="column is-narrow"><time>{{- .Date.Format $dateFormat -}}</time> </span>
    {{end -}}

    <span class="column is-narrow article-category">
        {{ partial "svg/icons.html" "author" }}
            <a class="article-category-link" href="{{ path.Join "/author" ( .Params.author | urlize ) }}">{{ .Params.author }}</a>
    </span>

    <span class="column is-narrow article-category">
    {{ partial "svg/icons.html" "category" }}
    {{ range $i, $e := .Params.categories }}
        {{ if gt $i 0 }}
            <span>, </span>
        {{ end }}
        <a class="article-category-link" href="{{ path.Join "/categories" ( $e | urlize ) }}">{{ $e }}</a>
    {{ end }}
    </span>
</div>
