<footer class="footer">
    <div class="container">
        <div class="columns content">
            <div class="column is-narrow has-text-centered">© {{ now.Year }} {{ .Site.Title }}</div>
            <div class="column is-hidden-mobile"></div>
            <div class="column is-narrow">
                <div class="columns is-mobile is-multiline is-centered has-text-centered">
                    <span class="column is-narrow has-text-black"> Powered by <a href="https://gohugo.io/" target="_blank">Hugo</a></span>
                </div>
            </div>

        </div>
    </div>
</footer>
<script type="text/javascript">document.addEventListener('DOMContentLoaded', () => {const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);if ($navbarBurgers.length > 0) {$navbarBurgers.forEach(el => {el.addEventListener('click', () => {const target = el.dataset.target;const $target = document.getElementById(target);el.classList.toggle('is-active');$target.classList.toggle('is-active');});});}});</script>
{{if .Site.Params.images.lazyLoad}}
<script src="/js/lazysizes.min.js" async></script>
{{end}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css" integrity="sha256-uT5rNa8r/qorzlARiO7fTBE7EWQiX/umLlXsq7zyQP8=" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.js" integrity="sha256-TxnaXkPUeemXTVhlS5tDIVg42AvnNAotNaQjjYKK9bc=" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/contrib/auto-render.min.js" integrity="sha256-90d2pnfw0r4K8CZAWPko4rpFXQsZvJhTBGYNkipDprI=" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>

<!-- abcjs support -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/paulrosen/abcjs@v5.6.11/abcjs-midi.css">
<script src="https://cdn.jsdelivr.net/gh/paulrosen/abcjs@v5.6.11/bin/abcjs_plugin-midi_5.6.11-min.js"></script>
<script type="text/javascript">
    ABCJS.plugin.hide_abc = true;
</script>


</body>
</html>