<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
    <meta charset="utf-8">
    <title>{{ partial "data/title" . }}</title>
    <link rel='canonical' href='{{ .Permalink }}'>
    <link rel='shortcut icon' href='{{ ( or .Site.Params.assets.favicon "favicon.ico?" ) | relURL }}' type="image/x-icon" >
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ with .OutputFormats.Get "RSS" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s"/>` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{- end }}
    {{ with .Site.Params.info.author }}<meta name="author" content="{{ . }}"/>{{ end }}
    {{- if .Keywords -}}
        {{ $length := len .Keywords | add -1 -}}
        <meta name="keywords" content="{{ range $index, $element := .Keywords }}{{ $element | safeHTML }}{{if ne $index $length }}, {{ end }}{{ end }}"/>
    {{- else if .Site.Params.keywords -}}
        {{ $length := len .Site.Params.keywords | add -1 -}}
        <meta name="keywords" content="{{ range $index, $element := .Site.Params.keywords }}{{ $element | safeHTML }}{{if ne $index $length }}, {{ end }}{{ end }}"/>
    {{- end }}
    <meta name='description' content='{{ partial "data/description" . }}'/>
    <link rel="preload" as="font" href="/fonts/yYLl0h7WyfzTzI44.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<nav class="navbar is-transparent navbar-main" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand"><a class="navbar-item navbar-logo" href="{{ .Site.BaseURL }}">
                {{ .Site.Title }}
            </a>
            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false"><span></span> <span></span> <span></span></a>
        </div>

        <div class="navbar-menu " id="navMenu">
            <div class="navbar-start">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link is-arrowless"> {{ .Name }} </a>
                            <div class="navbar-dropdown">
                                {{ range .Children }}
                                    <a class="navbar-item" href="{{ .URL }}">
                                        {{ .Name }}
                                    </a>
                                {{ end }}
                            </div>
                        </div>
                    {{ else }}
                        <a class="navbar-item" href="{{ .URL }}">
                            {{ .Name }}
                        </a>
                    {{ end }}
                {{ end }}
            </div>
            <div class="navbar-end">
                {{ $currentPage := . }}
                {{ range .Site.Menus.end }}
                    <a class="navbar-item" href="{{ .URL }}">
                        {{ .Name }}
                    </a>
                {{ end }}
            </div>
        </div>
    </div>
</nav>