{{ partial "header" . }}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <h1 class="title is-large">Ops, page not found. :)</h1>
        </div>
    </div>
</section>
{{ partial "footer" . }}
