{{ define "main" }}
    <section class="section">
        <div class="container">
            <article class="article content">
                <h1 class="article-title is-size-3 is-size-4-mobile">
                    {{ .Title }}
                </h1>
                <div class="article-entry is-size-6-mobile">
                    {{ .Content }}
                </div>
            </article>
        </div>
    </section>
{{ end }}
